<div class ="left-sidebar">
  <h2><%= current_user.email %></h2>
  <ol>
    <% @users.each do |user| %>
      <li>
        <%= link_to user.email, user_path(user) %>
      </li>
    <% end %>
  </ol>
</div>
<div class="main-content">
  <%= form_for [@user, Message.new], remote: true do |message| %>
    <div class="field">
      <%= render "shared/error_messages", object: message.object %>
      <%= message.text_area :content %> 
      <%= message.submit "Send", class: "btn btn-primary floatright" %>
    </div>
  <% end %>
  Message:
  <ul class="posts">
    <% @messages.each do |message| %>
    <%= render "shared/message", message: message %>
    <% end %>
  </ul>
</div>